@font-face {
  font-family: 'PTSerif';
  src: url('../fonts/PTF55F-webfont.eot');
  src: url('../fonts/PTF55F-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PTF55F-webfont.woff') format('woff'),
       url('../fonts/PTF55F-webfont.ttf') format('truetype'),
       url('../fonts/PTF55F-webfont.svg#PTSerif') format('svg');
}

@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PTS55F-webfont.eot');
  src: url('../fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PTS55F-webfont.woff') format('woff'),
       url('../fonts/PTS55F-webfont.ttf') format('truetype'),
       url('../fonts/PTS55F-webfont.svg#PTSans') format('svg');
}

::-moz-selection {
  background: #049CDB;
  color: #FFF;
  text-shadow: none;
}

::selection {
  background: #049CDB;
  color: #FFF;
  text-shadow: none;
}

html { border-top: 4px solid #232E35; }

html, li a {
  background: white;
  color: #333;
}

body {
  font: .6em/1.618 "PTSerif", Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.wrapper {
  max-width: 32em;
  padding: 1.618em;
  margin: 0 auto;
}

p {
  text-align: justify;
  text-justify: newspaper;
  font-size: 110%;
  line-height: 1.75;
}

a {
  color: #049CDB;
  text-decoration: none;
  outline: none;
}

a:hover { text-decoration: underline; }

#me {
  display: block;
  width: 60px;
  border-radius: 50%;
  margin: 0 auto;
  padding: .809em 0;
}

#tagline, nav li {
  font-family: "PTSans", sans-serif;
  font-weight: 700;
}

#tagline {
  padding-top: .809em;
  text-align: center;
}

.border, #tagline { border-top: thin solid #f3f3f3; }

p:first-of-type { text-indent: 1.6em; }

nav {
  border-top: thin solid #999;
  border-bottom: thin solid #999;
  margin-bottom: 1.618em;
}

nav li {
  width: 24%;
  display: inline-block;
}

nav ul {
  text-align: center;
  padding-left: 0;
}

@media (min-width:641px) {
  body { font-size: 1em; }
  #me { width: 120px; }
}
