::-moz-selection {
  background: #049CDB;
  color: #FFF;
  text-shadow: none;
}

::selection {
  background: #049CDB;
  color: #FFF;
  text-shadow: none;
}

html, .meta li a {
  background: white;
  color: #333;
}

body {
  font: 1em/1.618 "PT sans", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.wrapper {
  max-width: 32em;
  padding: 1.618em;
  margin: 0 auto;
}

p {
  font-family: "Pt Serif", Georgia, sans-serif;
  text-align: justify;
  text-justify: newspaper;
}

h1 {
  font-size: 2.0225em;
  margin-bottom: .3033em;
}

h1 {
  text-align: center;
  font-weight: 700;
}

a, .meta li a:hover {
  color: #049CDB;
  text-decoration: none;
  outline: none;
}

a:hover { text-decoration: underline; }

img {
  display: block;
  width: 120px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1em;
}

.border { border-top: thin solid #f3f3f3; }

p:first-of-type {
  padding: 1em 0;
  text-indent: 1.6em;
}

.meta {
  text-align: center;
  padding-top: 1em;
  margin: 0 1.618em;
}

.meta li {
  display: inline;
  padding-left: .809em;
}
